/** Spacing variables **/
$xs: 2px !important;
$s: 5px !important;
$sm: 10px !important;
$md: 20px !important;
$lg: 30px !important;
$xl: 40px !important;




$primary: #363F54;
$secondary: #2884F6;

$lightBlue: #8A99C0;
