/****************************
* Btn hover letters animation
***************************/

.anim-1 {
  white-space: pre;
}

.anim-1 span {
  display: inline-block;
  -webkit-transition: transform 250ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
  -o-transition: transform 250ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
  transition: -webkit-transform 250ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
  transition: transform 250ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
  transition: transform 250ms cubic-bezier(0.000, 0.785, 0.000, 1.000), -webkit-transform 250ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
}

.anim-1:hover span {
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px);
}

.anim-1:hover span:nth-child(2n) {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.anim-1:hover span:nth-child(3n) {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.anim-1:hover span:nth-child(5n) {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

/***********************************
 * Imitates window scrolling website
 **********************************/
@-webkit-keyframes mouseScroll {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}


/**********************
 * Scroll animation
 *********************/

.scroll-animation {
  -webkit-animation: scroll-animation 4s ease-in-out both;
  animation: scroll-animation 4s ease-in-out both;
  position: relative;
  animation-delay: 1s;
}

@-webkit-keyframes scroll-animation {
  0% {
    top: 0;
  }
  20% {
    top: -200px;
  }
  40% {
    top: -400px;
  }
  80% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

/**********************
 * Circle countdown
 *********************/
// Duplicated to reset when click on button
.countdown {
  animation: countdown 5s linear infinite forwards;
}

.countdown2 {
  animation: countdown2 5s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

@keyframes countdown2 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
