@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";

* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}


h1 {
  font-size: 36px;
}

h2 {
  color: #363F54;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42px;
  line-height: 51px;
}

p {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/** SPACING**/
.m-n {
  margin: 0 !important;
}

.m-t-n {
  margin-top: 0 !important;
}

.p-n {
  padding: 0 !important;
}

.m-xs {
  margin: $xs
}

.m-sm {
  margin: $sm
}

.m-md {
  margin: $md
}

.m-lg {
  margin: $lg
}

.m-xl {
  margin: $xl
}

.m-t-xs {
  margin-top: $xs
}

.m-t-sm {
  margin-top: $sm
}

.m-t-md {
  margin-top: $md
}

.m-t-lg {
  margin-top: $lg
}

.m-t-xl {
  margin-top: $xl
}

.m-b-xs {
  margin-bottom: $xs
}

.m-b-sm {
  margin-bottom: $sm
}

.m-b-md {
  margin-bottom: $md
}

.m-b-lg {
  margin-bottom: $lg
}

.m-b-xl {
  margin-bottom: $xl
}

.m-l-xs {
  margin-left: $xs
}

.m-l-sm {
  margin-left: $sm
}

.m-l-md {
  margin-left: $md
}

.m-l-lg {
  margin-left: $lg
}

.m-l-xl {
  margin-left: $xl
}

.m-r-xs {
  margin-right: $xs
}

.m-r-sm {
  margin-right: $sm
}

.m-r-md {
  margin-right: $md
}

.m-r-lg {
  margin-right: $lg
}

.m-r-xl {
  margin-right: $xl
}


.p-xs {
  padding: $xs
}

.p-sm {
  padding: $sm
}

.p-md {
  padding: $md
}

.p-lg {
  padding: $lg
}

.p-xl {
  padding: $xl
}

.p-t-xs {
  padding-top: $xs
}

.p-t-sm {
  padding-top: $sm
}

.p-t-md {
  padding-top: $md
}

.p-t-lg {
  padding-top: $lg
}

.p-t-xl {
  padding-top: $xl
}

.p-b-xs {
  padding-bottom: $xs
}

.p-b-sm {
  padding-bottom: $sm
}

.p-b-md {
  padding-bottom: $md
}

.p-b-lg {
  padding-bottom: $lg
}

.p-b-xl {
  padding-bottom: $xl
}

.p-l-xs {
  padding-left: $xs
}

.p-l-sm {
  padding-left: $sm
}

.p-l-md {
  padding-left: $md
}

.p-l-lg {
  padding-left: $lg
}

.p-l-xl {
  padding-left: $xl
}

.p-r-xs {
  padding-right: $xs
}

.p-r-sm {
  padding-right: $sm
}

.p-r-md {
  padding-right: $md
}

.p-r-lg {
  padding-right: $lg
}

.p-r-xl {
  padding-right: $xl
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.c-primary {
  color: $primary;
}

.pointer {
  cursor: pointer;
}

.dimmed {
  color: #fafafa;
}

.small {
  font-size: smaller;
}

button:focus {
  outline: none;
}

.btn {
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.rnd-btn {
  height: 100px;
  width: 100px;
  background: #2884F6;
  color: white;
  border-radius: 100px;
  font-size: 26px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    height: 95px;
    width: 95px;
  }
}
