@import "../../../../assets/scss/variables";

.carousel {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  position: relative;

  &.dark-hero {
    h1, p, .btn, .fab, .showcase-description p, .arrow {
      color: $primary !important;
    }

    .list-rs:before, p:before {
      background: $primary !important;
    }

    .btn {
      background: rgba(0, 0, 0, 0.2);
    }

    .container-mouse {
      svg {
        fill: $primary;
      }
    }

    .btn-next svg circle {
      stroke: $primary;
      fill: rgba(0, 0, 0, 0.2);
    }
  }

  .hero {
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .hero2 {
    background: -webkit-linear-gradient(90deg, #CE0C2A 0%, #DC6C7F 100%);
    background: linear-gradient(90deg, #CE0C2A 0%, #DC6C7F 100%);
  }

  .hero3 {
    background: #348F50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #56B4D3, #348F50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .hero4 {
    background: #348F50; /* fallback for old browsers */
    background: -webkit-linear-gradient(270deg, #FAF0E7 0%, #EFE5DC 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(270deg, #FAF0E7 0%, #EFE5DC 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .bg-filter {
    background-image: url('../../../../assets/img/background-filter.png');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    opacity: 1;
    display: block;
  }

  .logo h1 {
    position: absolute;
    left: 50%;
    z-index: 2;
    color: white;
    font-weight: 900;
    font-size: 50px;
    top: 0;
    font-style: italic;
    transition: all 0.25s;
  }

  .container-text {
    width: 40%;
    position: absolute;
    z-index: 2;
    top: calc(40% + 40px);
    right: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    font-size: 50px;
    font-weight: 900;

    p:nth-child(1) {
      opacity: 0.5;
      font-size: 16px;
      margin-bottom: 8px;
      position: relative;
      display: inline-block;


      &:before {
        background-color: white;
        content: '';
        position: absolute;
        top: 50%;
        right: calc(100% + 11px);
        height: 1px;
        width: 19px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

      }
    }

    p:nth-child(3) {
      opacity: 0.4;
      font-size: 50px;
    }
  }

  .container-rs {
    position: absolute;
    top: 546px;
    left: 60px;
    display: inline-block;

    .list-rs {
      list-style: none;
      padding: 0;

      &:before {
        content: '';
        width: 1px;
        height: 27px;
        position: absolute;
        top: -20px;
        left: 5px;
        background: white;
      }

      a {
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;
        opacity: 1;
        margin-top: 10px;
      }

      .fab {
        color: white;
        font-size: 13px;
      }

    }
  }

  .container-mouse {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 38px;

    svg {
      height: 30px;
      fill: #fff;

      path:nth-child(1) {
        opacity: 0.3;
      }

      path:nth-child(2) {
        animation: mouseScroll 3s ease infinite;
        -webkit-animation: mouseScroll 3s ease infinite;
      }
    }
  }

  .showcase {
    position: absolute;
    right: 200px;
    top: 200px;
    width: 35%;

    .container-showcase {
      height: 42vh;
      overflow: hidden;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      img {
        width: 100%;
        display: inline-block;
      }
    }

    .showcase-description {
      animation-delay: 0.5s;
      padding: 5% 10%;

      p {
        font-size: 12px;
        color: white;
      }
    }
  }

.container-vr{
  padding: 3px 10px 3px 10px;
  position: absolute;
  top: 50px;
  right: 60px;
  border-radius: 50px;
  font-size: 11px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1.2px;
}
  .btn-next {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 60px;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 1;

    .arrow {
      position: relative;
      top: 8px;
      left: 12px;
      color: white;
      font-size: 10px;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      transform: rotateY(-180deg) rotateZ(-90deg);
    }

    svg circle {
      stroke-dasharray: 113px;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 1.5px;
      stroke: white;
      fill: rgba(255, 255, 255, 0.2);
    }
  }
}
