<div class="carousel" [ngClass]="{'dark-hero': hero === 4}">
  <div class="logo">
    <h1>
      T
    </h1>
  </div>
  <div class="hero fade-in-slider" fxFlex *ngIf="hero === 1">
    <div class="bg-filter"></div>
    <div class="showcase">
      <div class="container-showcase slit-in-diagonal-1" style="animation-delay: 0.2s">
        <img src="./assets/img/uniquebe.png" class="scroll-animation">
      </div>
      <div class="showcase-description fade-in" fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quis!</p>
        </div>
        <div fxFlex>
          <p style="opacity: 0.6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, </p>
          <p>corporis expedita explicabo molestias sed?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero2 fade-in-slider" fxFlex *ngIf="hero === 2">
    <div class="bg-filter"></div>
    <div class="showcase">
      <div class="container-showcase slit-in-horizontal" style="animation-delay: 0.2s">
        <img src="./assets/img/ipg.png" class="scroll-animation">
      </div>
      <div class="showcase-description fade-in" fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quis!</p>
        </div>
        <div fxFlex>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, corporis expedita explicabo
            molestias sed?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero3 fade-in-slider" fxFlex *ngIf="hero === 3">
    <div class="bg-filter"></div>
    <div class="showcase">
      <div class="container-showcase slit-in-diagonal-1" style="animation-delay: 0.2s">
        <img src="./assets/img/download.jpg" class="scroll-animation">
      </div>
      <div class="showcase-description fade-in" fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quis!</p>
        </div>
        <div fxFlex>
          <p style="opacity: 0.6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, </p>
          <p>corporis expedita explicabo molestias sed?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero4 fade-in-slider" fxFlex *ngIf="hero === 4">
    <div class="bg-filter"></div>
    <div class="showcase">
      <div class="container-showcase slit-in-diagonal-1" style="animation-delay: 0.2s">
        <img src="./assets/img/download2.jpg" class="scroll-animation">
      </div>
      <div class="showcase-description fade-in" fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quis!</p>
        </div>
        <div fxFlex>
          <p style="opacity: 0.6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, </p>
          <p>corporis expedita explicabo molestias sed?</p>
        </div>
      </div>
    </div>
  </div>

  <h1 class="container-text show focus-in-expand">
    <p class="show">Tylius</p>
    <p>
      CREATING
    </p>
    <p>
      DIGITAL BUSINESS
    </p>
    <button class="btn anim-1">
      <span>H</span><span>I</span><span>R</span><span>E</span><span>&nbsp;</span><span>M</span><span>E</span>
    </button>
  </h1>
  <div class="container-rs show">
    <ul class="list-rs">
      <li><a href=""><i class="fab fa-instagram"></i></a></li>
      <li><a href=""><i class="fab fa-dribbble"></i></a></li>
      <li><a href=""><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
  <div class="container-mouse">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 32">
      <path
        d="M11.5 31.75c6.1 0 11.1-5.05 11.1-11.25v-9C22.6 5.3 17.65.25 11.5.25 5.35.25.4 5.3.4 11.5v9c0 6.2 5 11.25 11.1 11.25zM2.4 11.5c0-5.1 4.05-9.25 9.1-9.25s9.1 4.15 9.1 9.25v9c0 5.1-4.05 9.25-9.1 9.25S2.4 25.6 2.4 20.5v-9z"></path>
      <path d="M11.5 14.55c.55 0 1-.45 1-1V9.9c0-.55-.45-1-1-1s-1 .45-1 1v3.65c0 .55.45 1 1 1z"></path>
    </svg>
  </div>
  <div class="container-vr">
    V.1
  </div>
  <div class="btn-next show" (click)="nextHero(); countdown = !countdown">
    <svg>
      <circle [ngClass]="{'countdown': countdown, 'countdown2': !countdown}" r="18" cx="20" cy="20"></circle>
    </svg>
    <i class="fas fa-chevron-right arrow"></i>
  </div>
</div>
