@import "../../../assets/scss/variables";

#home {
  #home-carousel {
    margin-bottom: 20vh;
  }

  #section-about {
    padding-bottom: 200px;

    .container-text {
      display: inline-block;
      vertical-align: middle;
      width: 485px;
      padding-left: 95px;
      text-align: left;

      h2 {
        margin-bottom: 34px;
        position: relative;

        &:before {
          content: '';
          height: 3px;
          width: 60px;
          border-radius: 2px;
          background-color: $secondary;
          position: absolute;
          top: 23px;
          right: calc(100% + 35px);
        }

      }

      p {
        color: $lightBlue;
        font-size: 24px;
        line-height: 42px;

        span {
          display: block;
        }
      }
    }

    .container-action {
      display: inline-block;
      vertical-align: middle;
      width: 485px;

      p {
        color: $primary;
        font-size: 13px;
        vertical-align: middle;
        font-weight: 700;

        .fas {
          font-size: 10px;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}
