<div id="home" fxFlex fxLayout="column">
  <app-carousel id="home-carousel"></app-carousel>
  <section id="section-about" class="text-center">
    <div class="container-text">
      <h2>ABOUT TYLIUS</h2>
      <p class="fade-in">
        <span>At Tylius, our job goes beyond just </span>
        <span>imagining and creating beautiful digital </span>
        <span>design concepts. Our job is also to </span>
        <span>make your product as efficient and </span>
        <span>intuitive as possible. Your product </span>
        <span>needs to convert successfully. Your </span>
        <span>product needs to differentiate your </span>
        <span>business. Our mission is to make that </span>
        <span>happen. </span>
      </p>
    </div>
    <div class="container-action anim-1">
      <button class="rnd-btn pointer"><i class="fas fa-envelope"></i></button>
      <p class="m-t-sm">
        <span>C</span><span>O</span><span>N</span><span>T</span><span>A</span><span>C</span><span>T</span>&nbsp;<span> </span><span>U</span><span>S</span>
        <i class="fas fa-chevron-right m-l-sm"></i>
      </p>
    </div>
  </section>
</div>
