<div id="nav-btn" [ngClass]="{'inverted': inverted, 'dark': darkNav}" (click)="openMenu()">
  <div class="content">
    <div class="text">
      <span>M</span>
      <span>E</span>
      <span>N</span>
      <span>U</span>
    </div>
    <div class="action">
      <div class="bar" [ngClass]="{'cross': open}"></div>
      <div class="bar" [ngClass]="{'cross': open}"></div>
    </div>
  </div>
</div>
<div id="menu" [ngClass]="{'slit-in-horizontal': open}" *ngIf="open">
  <div class="content">
    <ul class="nav-links">
      <li class="link"><a>Home</a></li>
      <li class="link"><a>Services</a></li>
      <li class="link"><a>Projects</a></li>
      <li class="link"><a>Team</a></li>
      <li class="link"><a>Contact</a></li>
    </ul>
  </div>
</div>
