@import "../../../../assets/scss/variables";

#nav-btn {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 195px;
  width: 130px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;

  &:hover .content .action .bar:nth-child(1) {
    -webkit-transform: translate(-50%, -30%) rotate(90deg) scaleY(0.7);
    -ms-transform: translate(-50%, -30%) rotate(90deg) scaleY(0.7);
    transform: translate(-50%, -30%) rotate(90deg) scaleY(0.7);
  }

  &:hover .content .action .bar:nth-child(2) {
    -webkit-transform: translate(-50%, -70%) rotate(90deg) scaleY(0.7);
    -ms-transform: translate(-50%, -70%) rotate(90deg) scaleY(0.7);
    transform: translate(-50%, -70%) rotate(90deg) scaleY(0.7);
  }

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;

    .text {
      position: relative;

      span {
        display: block;
        //font-family: National-Bold;
        font-size: 10px;
        text-align: center;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        color: white;
        font-weight: 600;
      }
    }


    .action {
      height: 27px;
      width: 27px;
      margin-top: 14px;
      position: relative;

      .bar {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;
        width: 1px;
        -webkit-transition: all 0.5s cubic-bezier(0.000, 0.785, 0.000, 1.000);
        -o-transition: all 0.5s cubic-bezier(0.000, 0.785, 0.000, 1.000);
        transition: all 0.5s cubic-bezier(0.000, 0.785, 0.000, 1.000);
        background: white;

        &.cross:nth-child(1) {
          -webkit-transform: translate(-50%, -50%) rotate(45deg);
          -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg) !important;
        }

        &.cross:nth-child(2) {
          -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg) !important;
        }
      }

    }
  }

  &.inverted {
    background: white;
  }

  &.dark, &.inverted {
    .text span {
      color: $primary !important;
    }

    .action .bar {
      background: $primary !important;
    }
  }

}

#menu {
  background: white;
  position: fixed;
  width: 100%;
  height: 700px;
  transition: all 0.5s;
  opacity: 0;
  z-index: 9;

  .content {
    padding: 160px 130px 130px 130px;
    max-height: 100vh;
  }

  .nav-links {
    list-style: none;

    .link {
      margin-bottom: 40px;
      padding-left: 40px;

      a {
        font-size: 36px;
        font-weight: 900;
        color: $primary;
        text-transform: uppercase;
      }
    }
  }
}

